VITE_FIREBASE_API_KEY=AIzaSyDf834QyPcgdLToyQBKZ4bpoiWj3zLNIUo
VITE_FIREBASE_AUTH_DOMAIN=exitoazul-87247.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=exitoazul-87247
VITE_FIREBASE_STORAGE_BUCKET=exitoazul-87247.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=278041855783
VITE_FIREBASE_APP_ID=1:278041855783:web:b0ec75feee56aad5a48b02
VITE_PUBLIC_SHARE_BASE_URL=http://localhost:5173
